<h1> Acebook Wall </h1>

<% @posts.each do |post| %>
  <h3><%= simple_format post.message %></h3>
  <%= post.formatted_date_time %>
  <br>
  <%= post.email %>
  <br>
  <%= link_to "Show", user_post_path(current_user, post) %>
  <% if current_user.id == post.user_id %>
    <p><%= link_to 'Delete', [current_user, post], :method => :delete  %></p>
    <p><%= link_to "Edit", edit_user_post_path(current_user, post) %></p>
  <% end %>
<% end %>
<br>
<%= link_to "View Your Posts", user_posts_path(current_user) %>
