<h1> Your posts: </h1>

<% @posts.each do |post| %>
  <p><%= simple_format post.message %></p>
  <%= post.formatted_date_time %>
  <p><%= link_to 'Delete', [current_user, post], :method => :delete  %></p>
<% end %>
</br>
</br>
<%= link_to "View All Posts", posts_path %>
<br>
<%= link_to "New post", new_user_post_path %>
<br>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
