  <div class="title">
    <h1> Your posts: </h1>
  </div>

  <% @posts.each do |post| %>
    <div class="post">
      <div class="container">
        <div class="notification">
        <h3><%= simple_format post.message %></h3>
        <span class="rails-center">
        <%= post.formatted_date_time %>
        </span>
        <span class="rails-right">
        <%= link_to('Show', user_post_path(current_user, post), :class => "button is-dark is-outlined") %>
        <% if current_user.id == post.user_id %>
          <%= link_to('Delete', [current_user, post], :method => :delete, :class => "button is-dark is-outlined") %>
          <%= link_to('Edit', edit_user_post_path(current_user, post), :class => "button is-dark is-outlined") %>
        <% end %>
        </span>
    </div>
  </div>
    <% end %>
  </div>
